.App {
  height: 100vh;
  padding-top: 5px;
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
/*.titulo{
  width: 100%;
  margin: 6px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: pink;
}*/

.contenedorCalculadora{
  width: 300px;
  height: 450px;
  padding: 10px;
  background-color: pink;
  border-radius: 20px;
  border: 5px solid white;
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;


}

header{
  width: 100%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo{
    text-align: center;
    font-size: 3rem;
    text-shadow:0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}