.App {
  height: 100vh;
  padding-top: 10px;
  background-color: cornflowerblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
/*.titulo{
  width: 100%;
  margin: 6px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: pink;
}*/

.contenedorCalculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: pink;
  border-radius: 20px;
  border: 5px solid white;
}
.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;


}