.clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: aqua;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: darkorchid;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}

.clear:hover{
    background-color:magenta;
}